<sly
	data-sly-test.isHomepage="${currentPage.contentResource.resourceType == 'academy-codenova/components/structure/homepage'}"
></sly>

<nav class="navbar navbar-expand-lg navbar-dark ${isHomepage ? 'cn-navbar-transparent' : 'bg-dark'}">
	<div class="container">
		<sly data-sly-resource="${'logo' @ resourceType='academy-codenova/components/structure/logo'}" />
		<div class="navbar-collapse">
			<ul class="navbar-nav ms-auto gap-2 gap-lg-3">
				<sly data-sly-list.child="${currentPage.listChildren}">
					<li class="nav-item">
						<a
							href="${child.path}.html"
							class="nav-link ${child.path == currentPage.path ? 'active' : ''}"
							>${child.title}</a
						>
					</li>
				</sly>
			</ul>
		</div>
	</div>
</nav>
