<sly data-sly-use.course="com.reponse.mvn.core.models.CourseModel"/>
<div class="cl-course-page__breadcrumb">
	<div class="page-section">
		<sly data-sly-resource="${'breadcrumb' @ resourceType='academy-codenova/components/atomic/breadcrumb'}"/>
	</div>
</div>
<div class="page-section cl-course-page__layout">
	<main class="cl-course-page__main">
		<figure class="cl-course-page__hero">
			<sly data-sly-test="${wcmmode.edit}">
				<sly data-sly-resource="${'image' @ resourceType='academy-codenova/components/atomic/course-hero-image'}"/>
			</sly>
			<sly data-sly-test="${!wcmmode.edit}">
				<img
					src="${course.fileReference || '/etc.clientlibs/mvnreponse/clientlibs/clientlib-site/resources/images/course-default.avif'}"
					alt="${currentPage.title @ context='attribute'}"
					loading="lazy"/>
			</sly>
		</figure>
		<sly
			data-sly-test="${course.formattedDate || !course.tagTitles.empty || course.link || wcmmode.edit}"
			data-sly-resource="${'meta' @ resourceType='academy-codenova/components/atomic/course-meta', decoration=true, decorationTagName='div', cssClassName='cl-course-page__meta-editable'}"/>
		<div class="cl-course-page__title-wrap">
			<sly data-sly-resource="${'title' @ resourceType='academy-codenova/components/atomic/title'}"/>
		</div>
		<div class="cl-course-page__abstract">
			<sly data-sly-resource="${'abstract' @ resourceType='academy-codenova/components/atomic/text'}"/>
		</div>
		<div class="cl-course-page__content">
			<div
				class="cl-course-page__intro"
				data-sly-resource="${'content' @ resourceType='academy-codenova/components/atomic/text', decoration=true, decorationTagName='div', cssClassName='cl-course-page__intro-editable'}">
			</div>
			<div
				class="cl-course-page__par"
				data-sly-resource="${'par' @ resourceType='wcm/foundation/components/parsys', decoration=true, decorationTagName='div', cssClassName='cl-course-page__par-editable'}">
			</div>
		</div>
	</main>
	<aside class="cl-course-page__sidebar">
		<h3 class="cl-course-page__sidebar-heading">Related Courses</h3>
		<ul class="cl-course-page__related-list">
			<sly data-sly-list.item="${course.relatedCourses}">
				<li class="cl-course-page__related-item">
					<a href="${item.link @ context='uri'}" class="cl-course-page__related-link">
						<div class="cl-course-page__related-thumb">
							<img src="${item.fileReference || '/etc.clientlibs/mvnreponse/clientlibs/clientlib-site/resources/images/course-default.avif'}"
								 alt="${item.title @ context='attribute'}"
								 loading="lazy"/>
						</div>
						<div class="cl-course-page__related-info">
							<p class="cl-course-page__related-title">${item.title}</p>
							<span class="cl-course-page__related-date" data-sly-test="${item.formattedStartDate}">
								<i class="cl-icon-calendar" aria-hidden="true"></i>
								${item.formattedStartDate}
							</span>
						</div>
					</a>
				</li>
			</sly>
		</ul>
	</aside>
</div>
