<sly data-sly-set.cols="${properties.columns || 2}" />
<sly data-sly-set.gap="${properties.gap || 'md'}" />

<div class="cn-grid-container cn-grid-container--cols-${cols} cn-grid-container--gap-${gap}">
    <div class="cn-grid-container__col" data-sly-test="${cols >= 1}">
        <div data-sly-resource="${'col-1' @ resourceType='wcm/foundation/components/parsys'}"></div>
    </div>
    <div class="cn-grid-container__col" data-sly-test="${cols >= 2}">
        <div data-sly-resource="${'col-2' @ resourceType='wcm/foundation/components/parsys'}"></div>
    </div>
    <div class="cn-grid-container__col" data-sly-test="${cols >= 3}">
        <div data-sly-resource="${'col-3' @ resourceType='wcm/foundation/components/parsys'}"></div>
    </div>
    <div class="cn-grid-container__col" data-sly-test="${cols >= 4}">
        <div data-sly-resource="${'col-4' @ resourceType='wcm/foundation/components/parsys'}"></div>
    </div>
</div>

