<footer class="cl-footer"
	data-sly-use.footer="com.reponse.mvn.core.models.CodelandFooterModel">

	<!-- 4-column grid -->
	<div class="cl-footer__top" data-sly-test="${footer.sections}">
		<div class="page-section">
			<div class="cl-footer__cols">
				<div class="cl-footer__col" data-sly-repeat.section="${footer.sections}">
					<h4 class="cl-footer__col-title">${section.title}</h4>
					<ul class="cl-footer__col-list">
						<li class="cl-footer__col-item" data-sly-repeat.item="${section.items}">
							<span class="cl-footer__col-text">${item}</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<!-- Bottom bar -->
	<div class="cl-footer__bar">
		<div class="page-section">
			<div class="cl-footer__bar-inner">
				<p class="cl-footer__copyright">${footer.copyrightText}</p>
				<ul class="cl-footer__legal" data-sly-test="${footer.legalLinks}">
					<li data-sly-repeat.link="${footer.legalLinks}">
						<sly data-sly-test="${link.url}">
							<a href="${link.url @ extension='html'}" class="cl-footer__legal-link">${link.label}</a>
						</sly>
						<sly data-sly-test="${!link.url}">
							<span class="cl-footer__legal-link">${link.label}</span>
						</sly>
					</li>
				</ul>
			</div>
		</div>
	</div>

</footer>
