<footer
	class="cl-footer cl-footer--mode-stable"
	data-sly-use.nav="com.reponse.mvn.core.models.NavigationModel"
	data-sly-test.isHomepage="${nav.isHomePage}"
>
	<!-- 4-column grid -->
	<div class="cl-footer__top">
		<div class="page-section no-padding">
			<div class="cl-footer__cols editable-component editable-component--footer-cols">
				<sly data-sly-list.col="${['footer-column-1','footer-column-2','footer-column-3','footer-column-4']}">
					<div class="cl-footer__col editable-component editable-component--footer-col">
						<sly
							data-sly-resource="${col @ resourceType='academy-codenova/components/common/utilitylinks', decoration=true, decorationTagName='div', cssClassName='cl-footer__utility'}"
						/>
					</div>
				</sly>
			</div>
		</div>
	</div>

	<div class="cl-footer__bar">
		<div class="page-section">
			<div class="cl-footer__bar-inner">
				<div class="cl-footer__copyright editable-component editable-component--footer-copyright">
					<span class="cl-footer__copyright-prefix">&copy;</span>
					<sly
						data-sly-resource="${'copyright' @ resourceType='academy-codenova/components/common/text', decoration=true, decorationTagName='span', cssClassName='cl-footer__copyright-text'}"
					/>
				</div>

				<div class="cl-footer__legal editable-component editable-component--footer-legal">
					<sly
						data-sly-resource="${'legal-links' @ resourceType='academy-codenova/components/common/utilitylinks', decoration=true, decorationTagName='div', cssClassName='cl-footer__utility cl-footer__utility--legal'}"
					/>
				</div>
			</div>
		</div>
	</div>
</footer>

<sly
	data-sly-resource="${nav.rootPage.path}/jcr:content/codeland-footer"
	data-sly-test.isHomepage="${!isHomepage}"
/>
