.cmp-title__text {
	font-family: $font-family-primary;
}

.cmp-title--has-decorator {
	&::before {
		content: "";
		display: block;
		width: 100%;
		height: 1px;
		background: rgba($color-primary, 0.2);
	}

	.cmp-title__text {
		display: inline-block;
		padding-top: $space-sm;
		border-top: 4px solid $color-primary;
		min-width: 294px;
	}
}

.cmp-title.text-primary .cmp-title__text,
.cmp-title__text.text-primary {
	color: $color-text !important;
}

.cmp-title.text-dark .cmp-title__text,
.cmp-title__text.text-dark {
	color: $color-text-dark !important;
}

.cmp-title.text-muted .cmp-title__text,
.cmp-title__text.text-muted {
	color: $color-text-muted !important;
}

.cmp-title.text-light .cmp-title__text,
.cmp-title__text.text-light {
	color: $color-light !important;
}
