<sly data-sly-test="${properties.fileReference || properties.imagePath}">
    <sly data-sly-test="${properties.link}">
        <a href="${properties.link}">
            <img class="img-fluid rounded"
                 src="${properties.fileReference || properties.imagePath}"
                 alt="${properties.alt || 'Image'}"
                 loading="lazy"/>
        </a>
    </sly>
    <sly data-sly-test="${!properties.link}">
        <img class="img-fluid rounded"
             src="${properties.fileReference || properties.imagePath}"
             alt="${properties.alt || 'Image'}"
             loading="lazy"/>
    </sly>
</sly>
<div data-sly-test="${!properties.fileReference && !properties.imagePath}"
     class="d-flex align-items-center justify-content-center rounded border border-2 border-secondary border-dashed bg-light text-muted small cn-image-placeholder">
    <span>Select an image</span>
</div>
