<sly data-sly-use.image="com.adobe.cq.wcm.core.components.models.Image" />

<a
	data-sly-test="${image.link}"
	href="${image.link}"
>
	<img
		class="img-fluid rounded"
		src="${image.src}"
		alt="${image.alt}"
		loading="lazy"
	/>
</a>

<img
	data-sly-test="${!image.link && image.src}"
	class="img-fluid rounded"
	src="${image.src}"
	alt="${image.alt}"
	loading="lazy"
/>

<p
	class="mt-2 text-muted small"
	data-sly-test="${image.displayPopupTitle && image.title}"
>
	${image.title}
</p>

<div
	data-sly-test="${!image.src && wcmmode.edit}"
	class="cn-image-placeholder"
>
	Select image
</div>
