<sly data-sly-use.links="com.reponse.mvn.core.models.UtilityLinksModel" />

<div class="cl-header__utils">
	<div class="cl-container-wide">
		<div class="cl-header__utils-inner">
			<ul
				class="cl-header__utils-list"
				data-sly-test="${links.items.size > 0}"
			>
				<li data-sly-list.link="${links.items}">
					<sly data-sly-test="${link.url}">
						<a
							href="${link.url @ extension='html'}"
							class="cl-header__utils-link"
						>
							<span class="cl-header__utils-text">${link.label}</span>
							<i
								class="cl-header__utils-icon cl-icon-${link.icon}"
								data-sly-test="${link.icon}"
							></i>
						</a>
					</sly>
					<sly data-sly-test="${!link.url}">
						<span class="cl-header__utils-link">
							<span class="cl-header__utils-text">${link.label}</span>
							<i
								class="cl-header__utils-icon cl-icon-${link.icon}"
								data-sly-test="${link.icon}"
							></i>
						</span>
					</sly>
				</li>
			</ul>
			<div class="cl-header__utils-right">
				<a
					href="#"
					class="cl-header__utils-link cl-header__utils-link--lang"
				>
					${properties.languageLabel || 'IT'}
					<i
						class="cl-header__lang-caret cl-icon-chevron"
						aria-hidden="true"
					></i>
				</a>
			</div>
		</div>
	</div>
</div>
