<sly data-sly-use.image="com.adobe.cq.wcm.core.components.models.Image"></sly>
<sly data-sly-use.responsiveImg="com.reponse.mvn.core.models.ResponsiveImage"></sly>
<sly data-sly-set.renderSrc="${image.src || responsiveImg.fallbackSrc}"></sly>
<sly data-sly-set.hideMobClass="${properties.hideOnMobile ? 'hide-mobile' : ''}"></sly>
<sly data-sly-set.hideDeskClass="${properties.hideOnDesktop ? 'hide-desktop' : ''}"></sly>
<sly data-sly-set.brClass=""></sly>
<sly data-sly-set.brSideClass=""></sly>
<sly data-sly-test="${properties.borderRadius}" data-sly-set.brClass="${['cl-br-', properties.borderRadius] @ join=''}"></sly>
<sly data-sly-test="${properties.borderRadiusSide}" data-sly-set.brSideClass="${['cl-br-', properties.borderRadiusSide] @ join=''}"></sly>

<div
	class="${[
        'cl-atomic-image',
        properties.aspectRatio,
        properties.objectFit,
        properties.componentWidth,
        properties.opacity,
        properties.margin,
        properties.marginX,
        hideMobClass,
        hideDeskClass,
        brClass,
        brSideClass
    ] @ join=' '}"
>
	<img
		data-sly-test="${wcmmode.edit && !renderSrc}"
		src="/etc.clientlibs/academy-codenova/clientlibs/clientlib-site/resources/images/placeholder.png"
		alt="Image placeholder"
		class="cmp-image__image cl-image-placeholder"
	/>

	<picture data-sly-test="${responsiveImg.hasRenditions}">
		<sly data-sly-list.r="${responsiveImg.renditions.values}">
			<sly data-sly-set.currentSrcset="${r.srcset}"></sly>
			<source
				data-sly-test="${currentSrcset}"
				media="${r.media @ context='attribute'}"
				srcset="${currentSrcset @ context='attribute'}"
			/>
		</sly>

		<img
			src="${responsiveImg.fallbackSrc @ context='uri'}"
			alt="${responsiveImg.alt @ context='attribute'}"
			class="cmp-image__image"
			loading="lazy"
		/>
	</picture>

	<img
		data-sly-test="${!responsiveImg.hasRenditions && renderSrc}"
		src="${renderSrc @ context='uri'}"
		alt="${responsiveImg.alt @ context='attribute'}"
		class="cmp-image__image"
		loading="lazy"
	/>
</div>
