<section
	class="cl-section-text-boxes cl-section"
	data-decorated="${properties.decoration}"
>
	<a
		class="cl-section-anchor"
		data-sly-test="${properties.anchorTitle}"
		id="${properties.anchorTitle @ context='attribute'}"
		tabindex="-1"
	></a>
	<div class="cl-section-text-boxes__inner">
		<div
			class="cl-section-text-boxes__title"
			data-sly-resource="${'title' @ resourceType='academy-codenova/components/atomic/title'}"
		></div>

		<div
			class="cl-section-text-boxes__description"
			data-sly-resource="${'description' @ resourceType='academy-codenova/components/atomic/text'}"
		></div>

		<div
			class="cl-section-text-boxes__content"
			data-sly-resource="${'content' @ resourceType='wcm/foundation/components/parsys'}"
		></div>

		<div
			class="cl-section-text-boxes__note"
			data-sly-resource="${'note' @ resourceType='academy-codenova/components/atomic/text'}"
		></div>
	</div>
</section>
