<sly data-sly-use.slide="hero-slide-use.js">
<sly data-sly-test="${wcmmode.edit || properties.hidden != 'true'}">
<div
	class="${['cl-hero-slide', slide.imagePosition == 'left' ? 'cl-hero-slide--img-left' : 'cl-hero-slide--img-right'] @ join=' '}"
	data-hero-slide
>
	<div class="cl-hero-slide__content">

		<div class="cl-hero-slide__pretitle"
		     data-sly-resource="${'pretitle' @ resourceType='academy-codenova/components/atomic/title'}"></div>

		<div class="cl-hero-slide__title"
		     data-sly-resource="${'title' @ resourceType='academy-codenova/components/atomic/title'}"></div>

		<div class="cl-hero-slide__caption"
		     data-sly-resource="${'caption' @ resourceType='academy-codenova/components/atomic/text'}"></div>

		<div class="cl-hero-slide__buttons">
			<div data-sly-resource="${'btn1' @ resourceType='academy-codenova/components/atomic/button'}"></div>
			<div data-sly-resource="${'btn2' @ resourceType='academy-codenova/components/atomic/button'}"></div>
		</div>

	</div>

	<div class="${['cl-hero-slide__image-col', 'cl-br-xl', slide.imagePosition == 'left' ? 'cl-br-right' : 'cl-br-left'] @ join=' '}">
		<div class="cl-atomic-image" data-sly-test="${slide.heroDesktopSrc}">
			<picture>
				<source
					data-sly-test="${slide.heroDesktopSrcSet}"
					srcset="${slide.heroDesktopSrcSet @ context='attribute'}"
					sizes="(max-width: 767px) 100vw, 50vw"/>
				<img
					src="${slide.heroDesktopSrc @ context='uri'}"
					alt="${properties.alt @ context='attribute'}"
					loading="lazy"/>
			</picture>
		</div>
		<sly data-sly-test="${!slide.heroDesktopSrc && wcmmode.edit}">
			<img
				src="/etc.clientlibs/mvnreponse/clientlibs/clientlib-site/resources/images/placeholder.png"
				alt="Hero image placeholder"
				class="cmp-image__image cl-image-placeholder"/>
		</sly>
	</div>
</div>
</sly>
</sly>
