<sly data-sly-use.title="com.adobe.cq.wcm.core.components.models.Title">
	<sly data-sly-test.hideMobClass="${properties.hideOnMobile ? 'hide-mobile' : ''}"></sly>
	<sly data-sly-test.hideDeskClass="${properties.hideOnDesktop ? 'hide-desktop' : ''}"></sly>

<div class="${['cmp-title', properties.textColorClass, properties.margin, properties.marginX, hideMobClass, hideDeskClass] @ join=' '}">
		<sly data-sly-test="${wcmmode.edit && !title.text}">
			<div
				class="cq-placeholder"
				data-emptytext="${component.title}"
			></div>
		</sly>
		<sly data-sly-test="${title.text}">
			<h1
				data-sly-element="${title.type}"
				class="${['cmp-title__text', properties.typographyVariant, properties.textColorClass] @ join=' '}"
			>
				${title.text @ context='html'}
			</h1>
		</sly>
	</div>
</sly>
