<section class="cl-news section">
	<div class="cl-news__inner">
		<div
			class="cl-news__title"
			data-sly-resource="${'title' @ resourceType='academy-codenova/components/atomic/title'}"
		></div>

		<div
			class="cl-news__description"
			data-sly-resource="${'description' @ resourceType='academy-codenova/components/atomic/text'}"
		></div>

		<div
			class="cl-news__slider"
			data-sly-resource="${'slider' @ resourceType='academy-codenova/components/atomic/slider'}"
		></div>
	</div>
</section>
