<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
  <sly data-sly-call="${clientLib.js @ categories='wknd.site'}"/>
  <sly data-sly-call="${clientLib.js @ categories='academy-codenova.site'}"/>
  <sly data-sly-call="${clientLib.js @ categories='mvnreponse.site'}"/>
  <sly
    data-sly-test="${wcmmode.edit}"
    data-sly-call="${clientLib.js @ categories='academy-codenova.authoring.dialog-common'}"
  />
</sly>

<!-- Shared toast container for all pages -->
<div class="cn-toast-container"></div>
