//== Colors
$color-primary: #01334b;
$color-primary-light: #01334b;
$color-secondary: #aacedf;
$color-light: #e5f0f5;

$color-white: #ffffff;
$color-black: #000000;

// Text colors
$color-background: $color-white;
$color-text: $color-primary;
$color-text-dark: $color-black;
$color-text-muted: $color-secondary;

// Typography
$font-family-primary: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-secondary: "Atkinson Hyperlegible", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family: $font-family-primary;
$font-size: 16px;
$font-height: 1.5;

// Spacing scale
$space-unit: 8px;

$space-xs: $space-unit;
$space-sm: $space-unit * 2;
$space-md: $space-unit * 3;
$space-lg: $space-unit * 5;
